<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="PLCCOMName" value="COM8" />
      <add key="CCDCOMName" value="COM2" />
      <add key="ScanCOMName" value="COM4" />
      <add key="ScanHandlerCOMName" value="COM3" />
    <add key="ConnectionString" value="server=.;uid=sa;pwd=123456;database=AutoSortingDB" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.62.0" newVersion="1.0.62.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
