<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="PLCCOMName" value="COM8" />
    <add key="CCDCOMName" value="COM2" />
    <add key="ScanCOMName" value="COM4" />
    <add key="ScanHandlerCOMName" value="COM3" />
    <add key="ConnectionString" value="server=196.196.58.106;uid=sa;pwd=password01!;database=PrintTagDb" />
    <!--<add key="PivasConnectionString" value="server=.;uid=sa;pwd=password01!;database=AutoSortingDB" />-->
    <add key="PivasConnectionString" value="server=196.196.60.200;uid=ydwl;pwd=ydwl;database=ZHY_PIVAS_HKDYFF" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--是否开启调试模式-->
    <add key="IsDebug" value="false" />
    <!--收到光幕最小有效间隔时间，超过这个时间的光幕忽略-->
    <add key="lightTimeInterval" value="180" />
    <!--将CCD设为空闲状态等待时间-->
    <add key="freeCCDBusyState" value="280" />
    <!--收到拍照命令后CCD拍照等待时间-->
    <add key="ccdTakePhotoSleepTime" value="100" />
    <!--CCD拍照结果超时时间-->
    <add key="ccdTakePhotoExpireTime" value="1000" />
    <!--CCD1验证通过，发送结果等待时间-->
    <!--CCD2不通过要先退出，再复位拨板，时间会比CCD1成功直接复位拨板消耗时间长-->
    <add key="ccd1SuccessSleepTime" value="150" />
    <!--CCD1拍照最大次数-->
    <add key="cCD1TakePhotoMaxTimes" value="1" />
    <!--读取光幕信号间隔时间-->
    <add key="lightReaderIntervalTime" value="100" />
    <!--读取警告信号间隔时间-->
    <add key="warningReaderIntervalTime" value="1000" />
    <!--队列中最大液体数-->
    <add key="maxQueueCount" value="3" />
    <!--队列中最大未打印液体数-->
    <add key="maxNotPrintQueueCount" value="2" />
    <!--长时间未放药停机时间（10分钟）-->
    <add key="queueIsEmptyStopTime" value="600000" />
    <!--CCD1信号丢失或延时是否停止打印-->
    <add key="isStopOnCCD1ResultDelayed" value="false" />
    <!--检测CCD1信号丢失或延时的81信号个数-->
    <add key="waite81SignalTimesOnCCD1ResultDelayed" value="0" />
    <!--是否启用CCD2检测，如false，CCD2不拍照-->
    <add key="cCD2IsEnabled" value="false" />
    <!--卡药检测时间间隔-->
    <add key="blockDetectictInterval" value="20" />
    <!--两个液体从CCD1推出的最小间隔时间-->
    <add key="towMedicionMinInterval" value="1020" />
    <!--是否启用CCD2前未拨药数量检测-->
    <add key="beforeCCD2BlockDetectictIsEnabled" value="false" />
    <!--CCD2卡药超时时间-->
    <add key="beforeCCD2BlockAfterScannerLightTimes" value="500" />
    <!--挡板处卡药时间间隔（CCD1继续到打印机光幕时间间隔）-->
    <add key="beforeCCD2MaxCount" value="2" />
    <!--是否开启规定时间内没到打印机超时报警检测-->
    <add key="isEnabledPrinterLightExpireDetectict" value="false" />
    <!--从发送CCD1成功到收到打印机光幕时间-->
    <add key="printerLightExpireDetectictTimes" value="2400" />
    <!--是否开启规定时间内没到扫码枪光幕超时报警检测-->
    <add key="isEnabledScannerLightExpireDetectict" value="false" />
    <!--从收到打印机光幕时间到收到扫码枪光幕时间-->
    <add key="scannerLightExpireDetectictTimes" value="2500" />
    <!--是否开启规定时间内没到CCD2超时报警检测-->
    <add key="isEnabledCCD2ExpireDetectict" value="false" />
    <!--从收到收到扫码枪光幕时间到CCD2光幕时间-->
    <add key="cCD2ExpireDetectictTimes" value="2500" />
    <!--入队时间到打印光幕最小时间-->
    <add key="enqueueToPrintLightMinTime" value="700" />
    <!--入队时间到扫码枪光幕时间-->
    <add key="enqueueToScannerLightMinTime" value="2400" />
    <!--打印光幕时间到扫码枪光幕时间-->
    <add key="printToScannerLightMinTime" value="900" />
    <!--扫码枪光幕到CCD2光幕最小时间-->
    <add key="scannerToCCD2LightMinTime" value="600" />
    <!--入队时间到CCD2光幕最小时间-->
    <add key="enqueueToCCD2LightMinTime" value="3700" />
  </appSettings>
  <connectionStrings>
    <add name="PrintTagDbEntities" connectionString="metadata=res://*/PrintTagDb.csdl|res://*/PrintTagDb.ssdl|res://*/PrintTagDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=196.196.58.106;initial catalog=PrintTagDb;persist security info=True;user id=sa;password=password01!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.62.0" newVersion="1.0.62.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>